/*  Clearfix*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  zoom: 1;
}

body{
  background: lightgrey;
}

table{
  
}
.jumbotron{
    margin-bottom: 0px;
    background-image: url("http://www.trains-aircraft-trams.com/uploads/1/3/1/9/13192605/4409821_orig.gif");
    background-position: 0% 30%;
    background-size: cover;
}


h2 {
      font-family: 'Amatica SC', cursive, center;
      color: red;
      font-size: 45px;
      position: left;
      float: right;
}

